# IDE config
.idea/
.vscode/

# OS junk
.DS_Store

# Binaries and build artifacts
/bin/
*.exe
*.out
*.test
*.log

# Dependency directories
/vendor/

# Env / Secrets
.env
.env.*

# Go stuff
*.mod
*.sum
